/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #222; }

  <style>
  @import url('https://fonts.googleapis.com/css?family=Oswald');
  </style>

slide{

}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #222;
  background-color: #000000; }

.reveal {
  font-family: 'Oswald', sans-serif;
  font-size: 38px;
  /*font-weight: bold;*/
  color: #fff; }

::selection {
  color: #fff;
  background: #EC1848;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit;
  background-color:rgba(255,255,255,1);
  border-radius:20px;
  border-color: #C0D2EA;/*rgba(0,0,0,1);*/
  border-style: solid;
}
.reveal .slides > section,
.reveal .slides > section > sectionIn {
  line-height: 1.3;
  font-weight: inherit;
}
.foo {
  overflow: hidden;
}
/*********************************************
 * HEADERS
 *********************************************/
.reveal sectionTitleStyle,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #fff;
  font-weight: 600;
  font-family:'Oswald', sans-serif;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal sectionTitleStyle {
  color: #052049;
  font-size: 1.5em;
  padding: 25px;
  border-radius: 5px;
}

.reveal h1 {
  color: #000000;
  font-size: 1.8em; }

.reveal h2 {
  color: #052049;
  font-size: 1.3em;}

.reveal h3 {
  font-size: 1em;
  color: #EC1848;
}

.reveal h4 {
  font-size: .8em;
  color: #EC1848;
}

.reveal h6 {
  font-size: .8em; color: #EC1848;
}

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  color: #EC1848;
  padding: 25px
  font-size: .8em;
  margin: 20px 0;
  line-height: 1.3;
}

.reveal p1 {
  color: #716FB2;
  padding: 20px
  font-size: .8em;
  margin: 20px 0;
  line-height: 1.3;
  text-align: left;
}

.reveal p2 {
  color: #F48024;
  padding: 20px
  font-size: .8em;
  margin: 20px 0;
  text-align: left;
  line-height: 1.3;
}

.reveal p3 {
  color: #555;
  padding: 20px
  font-size: .8em;
  margin: 20px 0;
  line-height: 1.3;
}

.reveal p4 {
  color: #178CCB;
  padding: 20px
  font-size: .8em;
  margin: 20px 0;
  line-height: 1.3;
}

.reveal figcaption{
  text-align:left;
  font-size: .3em;
  color: #052049;
}
.reveal p5{
  color: #178CCB;
  padding: 0px;
  font-size: .3em;
  line-height: 1.3;
}
.reveal p6{
  color: #178CCB;
  padding: 0px;
  font-size: .3em;
  line-height: 1.3;
}
.reveal p7{
  color: #FFFFFF;
  padding: 0px;
  text-align: left;
  font-size: .7em;
  line-height: 1.3;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  border-radius: 10px;
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  color: #EC1848;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc;
}

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: auto;
  text-align: left;
  font-size: 0.55em;
  font-family: Helvetica;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-size: .75em;
  line-height: normal;
  font-family: monospace;
  font-weight: bold;
  background-color:rgba(255, 255, 255, 0);
  border-radius: 5px;
}

.reveal pre code {
  background-color:rgba(255, 255, 255, 0);
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
  border-radius: 5px;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0em 0em 0em 0em;
  border-bottom: 0px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #EC1848;
  font-size: .4em;
  face: bold;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #178CCB;
  text-shadow: none;
  face: bold;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #068de9; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 10px solid #FFFFFF;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.reveal section imgBasic {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 0px solid #000000;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #42affa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

.reveal container{
  background: #FFFFFF;
  opacity: 1;
}
.left {
    background-color: Red;
    float: left;
    width: 50%;
}

.right {
    background-color: Aqua;
    margin-left: 50%;
}
.clearfix {
    overflow: auto;
}
/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #42affa; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #42affa; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #42affa; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #42affa; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #8dcffc; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #8dcffc; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #8dcffc; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #8dcffc; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #42affa;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
